@font-face {
	font-family: 'Poppins';
	src: url('../fonts/poppins/100/Poppins-Thin.woff2');
	src: url('../fonts/poppins/100/Poppins-Thin.eot') format('embedded-opentype'),
		url('../fonts/poppins/100/Poppins-Thin.ttf') format('truetype'),
		url('../fonts/poppins/100/Poppins-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Poppins';
	src: url('../fonts/poppins/200/Poppins-ExtraLight.woff2');
	src: url('../fonts/poppins/200/Poppins-ExtraLight.eot')
			format('embedded-opentype'),
		url('../fonts/poppins/200/Poppins-ExtraLight.ttf') format('truetype'),
		url('../fonts/poppins/200/Poppins-ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Poppins';
	src: url('../fonts/poppins/300/Poppins-Light.woff2');
	src: url('../fonts/poppins/300/Poppins-Light.eot') format('embedded-opentype'),
		url('../fonts/poppins/300/Poppins-Light.ttf') format('truetype'),
		url('../fonts/poppins/300/Poppins-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Poppins';
	src: url('../fonts/poppins/400/Poppins-Regular.woff2');
	src: url('../fonts/poppins/400/Poppins-Regular.eot')
			format('embedded-opentype'),
		url('../fonts/poppins/400/Poppins-Regular.ttf') format('truetype'),
		url('../fonts/poppins/400/Poppins-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/poppins/500/Poppins-Medium.woff2');
	src: url('../fonts/poppins/500/Poppins-Medium.eot')
			format('embedded-opentype'),
		url('../fonts/poppins/500/Poppins-Medium.ttf') format('truetype'),
		url('../fonts/poppins/500/Poppins-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Poppins';
	src: url('../fonts/poppins/600/Poppins-SemiBold.woff2');
	src: url('../fonts/poppins/600/Poppins-SemiBold.eot')
			format('embedded-opentype'),
		url('../fonts/poppins/600/Poppins-SemiBold.ttf') format('truetype'),
		url('../fonts/poppins/600/Poppins-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/poppins/700/Poppins-Bold.woff2');
	src: url('../fonts/poppins/700/Poppins-Bold.eot') format('embedded-opentype'),
		url('../fonts/poppins/700/Poppins-Bold.ttf') format('truetype'),
		url('../fonts/poppins/700/Poppins-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/poppins/800/Poppins-ExtraBold.woff2');
	src: url('../fonts/poppins/800/Poppins-ExtraBold.eot')
			format('embedded-opentype'),
		url('../fonts/poppins/800/Poppins-ExtraBold.ttf') format('truetype'),
		url('../fonts/poppins/800/Poppins-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Poppins';
	src: url('../fonts/poppins/900/Poppins-Black.woff2');
	src: url('../fonts/poppins/900/Poppins-Black.eot') format('embedded-opentype'),
		url('../fonts/poppins/900/Poppins-Black.ttf') format('truetype'),
		url('../fonts/poppins/900/Poppins-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
