@use './mixins' as *;

body {
	font-family: 'Poppins', 'Courier New', Courier, monospace;
	@include fs();
}

h1,
.h1 {
	@include fs('h1');

	@include mq('md') {
		@include fs('h3');
	}
}

h2,
.h2 {
	@include fs('h2');

	@include mq('md') {
		@include fs('h4');
	}
}

h3,
.h3 {
	@include fs('h3');
}

h4,
.h4 {
	@include fs('h4');
}

h5,
.h5 {
	@include fs('h5');
}

h6,
.h6 {
	@include fs('h6');
}

.body-s {
	@include fs('body-s');
}

.title {
	@include fs('title');
}
