@use '../utils/' as *;

.site-footer {
	border-top: $b_2;
	padding-block-start: 2rem;
	padding-bottom: var(--cta-height, 0);

	&-top {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include mq('md') {
			gap: 1rem;
			flex-direction: column;
		}
	}

	&-bottom {
		margin-block-start: 1rem;
		background-color: $c_bg_paper;
		padding-block: 1.5rem;

		> .container {
			display: flex;
			justify-content: space-between;

			@include mq('md') {
				flex-direction: column;
				gap: 1rem;
			}
		}
	}

	&-menu {
		@include mq('md') {
			width: 100%;
		}
		ul {
			display: grid;
			gap: 0.5rem 3rem;
			grid-template-columns: repeat(3, 1fr);

			@include mq('md') {
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}

	&-images {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&-buttons {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;

		@include mq('md') {
			flex-direction: column;
			align-items: stretch;

			> * {
				text-align: center;
			}
		}
	}

	&-follow {
		background-color: $c_i_dark;
		color: $c_a_text_contrast;
		padding: 0.7rem 1rem;
		border-radius: 12px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;

		@include mq('md') {
			justify-content: space-between;
		}
	}

	&-social {
		display: flex;
		justify-content: center;
		align-items: center;
		@include mq('md') {
			gap: 0.5rem;
		}

		&-item {
			display: flex;
		}
	}
}
