@use '../utils/' as *;

.site-footer {
	@include d_flex(row, space-between, center, $gap: $s_4);
	margin-block: px_to_rem(120) calc(px_to_rem(60) + var(--cta-height, 0));
	background-color: $c_p_dark;
	color: $c_p_text_contrast;
	border-radius: $s_3;
	padding: $s_9 $s_6 !important;
	text-transform: capitalize;

	&-content {
		ul {
			display: grid;
			grid-template-rows: repeat(3, 1fr);
			grid-auto-flow: column;
			column-gap: $s_12;
			row-gap: $s_5;

			@include mq('md') {
				grid-template-rows: repeat(5, 1fr);
			}
		}
	}

	&-social-media {
		@include d_flex($gap: $s_6);
		background-color: $c_bg_paper;
		color: $c_p_dark;
		padding: $s_2 $s_4;
		border-radius: $s_2;
	}
}
