@use '../utils/index' as *;

.container {
	max-width: 1440px;
	padding-inline: 1rem;
}

.d-flex {
	display: flex;
}

.space-between {
	justify-content: space-between;
}

.only {
	&-desktop {
		@include mq('md') {
			display: none !important;
		}
	}

	&-mobile {
		display: none !important;

		@include mq('md') {
			display: inherit !important;
		}
	}
}

@for $i from 1 through 80 {
	@if ($i % 4 == 0) {
		.clear-fix-#{$i} {
			padding-block-start: #{$i/2}px;
			padding-block-end: #{$i/2}px;
		}
	}
}

hr {
	border-top: $b_1;
	border-inline: 0;
}
