@use '../utils' as *;

.section {
	&-card {
		&-title {
			&-wrapper {
				@include d_flex(row, space-between, center);
			}
		}

		hr {
			margin-block: $s_3;
		}

		&-items {
			display: grid;
			gap: $s_4;
		}

		a.only-mobile {
			margin-block-start: $s_4;
		}
	}
}
