@use '../utils/index' as *;

[class*='btn'] {
	@include fs('body-s');
	display: inline-block;
	outline: none;
	text-transform: capitalize;
	padding: 0;
	cursor: pointer;
	padding: $s_2 $s_6;

	border-radius: $s_10;
	transition: filter 0.3s ease-in;

	&:hover {
		filter: brightness(0.9);
	}

	&:disabled {
		filter: saturate(0);
		pointer-events: none;
		user-select: none;
		opacity: 0.5;
	}

	@include mq('md') {
		@include fs('body');
	}
}

.btn {
	&-primary {
		background-color: $c_se_dark;
		color: $c_se_text_contrast;
		border: 1px solid $c_se_dark;
	}

	&-secondary {
		color: $c_t_dark;
		border: 1px solid $c_t_dark;
	}

	&-accent {
		color: $c_a_main;
		border: 1px solid $c_a_main;
	}

	&-link {
		padding: 0 !important;
		color: $c_a_main;
	}

	&-icon {
		padding: $s_2 $s_4;
		color: $c_t_dark;
		border: 1px solid $c_t_dark;

		&-start {
			padding-inline-start: $s_5;
		}

		&-end {
			padding-inline-end: $s_5;
		}
	}

	&-full {
		width: 100%;
		text-align: center;
	}

	&-small {
		@include fs();
		padding: $s_1 $s_5;
	}

	&-horizontal {
		@include d_flex(column, flex-start, center);
		font-size: 16px;
		border-radius: 0.5rem;

		i {
			font-size: 1.75rem;
		}
	}
}
