.gtranslate_wrapper {
	.gt_float_switcher {
		box-shadow: none;
		display: flex;
		background-color: transparent;

		.gt-selected {
			background-color: transparent;
			border: 1px solid #000;
			border-radius: 1000px;
		}

		.gt_options {
			position: absolute;
			background-color: #fff;
			right: 200px;
			top: 60px;
		}

		.gt-current-lang {
			display: flex;
			gap: 4px;
			flex-direction: row-reverse;

			img {
				display: none;
			}
			.gt-lang-code {
				font-size: 16px;
				font-weight: 400;
			}
		}
	}
}
