@forward './breadcrumb';
@forward './buttons';
@forward './icon-box';
@forward './images';
@forward './inputs';
@forward './company_card';
@forward './mobile_menu';
@forward './contact_form';
@forward './team-card';
@forward './search-card';
@forward './lang-switcher';
