@use '../../utils' as *;

.product-archive {
	&-hero {
		margin-block-start: $s_4;
		img {
			border-radius: $s_3;
			max-height: 440px;
			object-fit: cover;
		}
	}

	&-content {
		@include d_flex($gap: $s_4);
	}

	&-filter {
		flex: 1;
		position: sticky;
		top: $s_2;
		padding: $s_6 $s_4;
		border: $b_2;
		border-radius: $s_3;

		@include mq('lg') {
			display: none;
		}

		form {
			@include d_flex(column, $gap: $s_3);
		}

		h3 {
			margin-block-end: $s_4;
		}
	}

	&-posts {
		--min-width: 360px;
		&-wrapper {
			flex: 3;
		}

		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(var(--min-width), 1fr));

		@include mq('md') {
			--min-width: 250px;
		}

		gap: $s_4;
		margin-block: $s_4 $s_6;
	}

	&-sort {
		@include d_flex(row, space-between, center);

		.sort-btn {
			position: relative;
			z-index: 100;

			&:hover {
				filter: none;
				.product-archive-sort-panel {
					opacity: 1;
					transform: translateY(0);
					pointer-events: all;
				}
			}
		}

		.filter-btn {
			display: none;
			@include mq('lg') {
				display: inline-block;
			}
		}

		&-panel {
			@include fs('body');
			display: grid;
			position: absolute;
			opacity: 0;
			pointer-events: none;
			transform: translateY(20px);
			transition: 0.3s ease-in;

			background-color: $c_bg_paper;
			left: 0;
			top: 100%;
			padding: $s_3;
			min-width: max-content;
			border: $b_1;
			border-radius: $s_1;

			form {
				@include d_flex(column);

				.btn-primary {
					padding: $s_2 $s_4;
					@include fs('caption');
				}
			}
		}
	}

	&-found-posts {
		color: $c_t_main;
		text-transform: capitalize;

		@include mq('lg') {
			width: 100%;
			margin-block-start: $s_4;
		}
	}

	&-pagination {
		@include d_flex($gap: $s_2);
		.page-numbers {
			border: $b_2;
			display: inline-block;
			width: $s_8;
			height: $s_8;
			text-align: center;
			transition: border 0.3s ease;

			&:hover,
			&.current {
				border: $b_1;
			}

			&.dots {
				border: none;
				font-size: 140%;
				color: $c_t_light;
			}
		}
	}

	&-filters {
		position: fixed;
		inset: $s_5;
		bottom: unset;
		background-color: $c_bg_paper;
		margin: $s_1;
		z-index: 1000;
		padding: $s_4 $s_6;
		opacity: 0;
		pointer-events: none;
		border-radius: $s_3;
		transition: opacity 0.3s ease-in-out;

		&[data-active='true'] {
			opacity: 1;
			pointer-events: all;
		}

		&-title {
			@include d_flex(row, space-between, center);
			margin-block-end: $s_4;

			i {
				font-size: 2rem;
			}
		}
	}
}
