@use '../../utils' as *;

.product-archive {
	&-hero {
		margin-block-start: $s_4;
		img {
			border-radius: $s_3;
			max-height: 440px;
			object-fit: cover;
		}
	}

	&-content {
		@include d_flex($gap: $s_4);
	}

	&-filter {
		background-color: red;
		width: 390px;
		min-height: 150px;
		position: sticky;
		top: 0;

		@include mq('lg') {
			display: none;
		}
	}

	&-posts {
		&-wrapper {
			flex: 1;
		}

		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
		gap: $s_4;
		margin-block: $s_4 $s_6;
	}

	&-sort {
		@include d_flex(row, space-between, center);

		a {
			position: relative;
			z-index: 100;

			&:hover {
				filter: none;
				.product-archive-sort-panel {
					opacity: 1;
					transform: translateY(0);
					pointer-events: all;
				}
			}
		}

		&-panel {
			@include fs('body');
			display: grid;
			position: absolute;
			opacity: 0;
			pointer-events: none;
			transform: translateY(20px);
			transition: 0.3s ease-in;

			background-color: $c_bg_paper;
			left: 0;
			top: 100%;
			padding: $s_3;
			min-width: max-content;
			border: $b_1;
			border-radius: $s_1;

			form {
				@include d_flex(column);

				.btn-primary {
					padding: $s_2 $s_4;
					@include fs('caption');
				}
			}
		}
	}

	&-found-posts {
		color: $c_t_main;
		text-transform: capitalize;
	}

	&-pagination {
		@include d_flex($gap: $s_2);
		.page-numbers {
			border: $b_2;
			display: inline-block;
			width: $s_8;
			height: $s_8;
			text-align: center;
			transition: border 0.3s ease;

			&:hover,
			&.current {
				border: $b_1;
			}

			&.dots {
				border: none;
				font-size: 140%;
				color: $c_t_light;
			}
		}
	}
}
