@use '../../utils/' as *;

.product {
	&-info {
		@include d_flex(row, space-between, center);
		background: $c_bg_paper;
		padding: $s_4 $s_6;
		border-radius: $s_3;
		box-shadow: 0px 4px 8px 0px hsla(0, 0%, 0%, 0.04);

		&-short {
			padding-inline-start: $s_4;
			color: $c_t_main;
		}
	}

	&-company {
		hr {
			margin-block: $s_4 $s_6;
		}

		&-logo {
			display: flex;
		}

		&-wrapper {
			@include d_flex(row, center, center, $gap: $s_4);

			> * {
				flex: 1;
			}

			.product-company-logo {
				@include d_flex(row, center, center);
				width: 100%;
				height: 100%;
			}

			@include mq('md') {
				flex-direction: column;
			}
		}

		&-description {
			flex: 3;
		}
	}

	&-main-info {
		display: flex;
		justify-content: space-between;
		@include mq('md') {
			flex-direction: column;
			gap: $s_3;
		}

		.product-info-short {
			padding: 0;
			@include mq('md') {
				display: none;
			}
		}
	}

	&-title {
		&-wrapper {
			@include d_flex($gap: $s_3);
			@include mq('md') {
				justify-content: space-between;
				align-items: center;
			}
		}
	}

	&-actions {
		&-primary {
			@include mq('md') {
				@include d_flex(row, space-between, center, nowrap, false, $s_2);
			}
		}
	}

	&-primary-info {
		@include d_flex(column, $gap: $s_3);
	}

	&-details {
		display: grid;
		gap: $s_4;

		&-wrapper {
			@include d_flex($gap: $s_4);

			@include mq('md') {
				flex-direction: column;
				flex-wrap: nowrap;
			}
		}
	}

	&-table {
		&-primary {
			@include d_flex(row, space-between, center, $even_column: true);
			width: 100%;
			border-radius: $s_3;
			padding: $s_4 $s_6;
			box-shadow: $shadow_1;
			text-transform: capitalize;

			@include mq('md') {
				flex-direction: column;
				align-items: flex-start;
			}
		}

		&-secondary {
			border: $b_1;
			border-radius: $s_4;
			flex: 3;

			&-row {
				@include d_flex(row, space-between, center, nowrap, true);
				text-transform: capitalize;

				&:nth-child(2n) {
					background-color: rgba($c_n_100, 0.04);
					color: $c_p_light;
				}

				> * {
					@include d_flex(row, flex-start, center);
					min-height: 4rem;
					padding: $s_3;
				}

				@include mq('md') {
					flex-direction: column;
					align-items: flex-start;
					padding: $s_3;

					> * {
						min-height: auto;
						padding: 0;
					}
				}
			}

			&-name {
				@include mq('md') {
					color: $c_p_main;
				}
			}

			&-value {
				width: 100%;
				height: 100%;
				border-inline-start: $b_1;

				@include mq('md') {
					border-inline-start: none;
					color: $c_n_100;
				}
			}

			@include mq('md') {
				width: 100%;
			}
		}
	}

	&-feature {
		&-box {
			padding-inline-start: $s_8;
			&:not(:first-child) {
				border-inline-start: $b_2;
			}

			@include mq('md') {
				border-inline-start: none !important;
				padding: 0;

				padding-block: $s_4;
				width: 100%;

				&:not(:last-child) {
					border-block-end: $b_2;
				}
			}
		}
		&-top {
			color: $c_t_light;
		}
		&-value {
			@include fs('h5');
		}
	}

	&-cta {
		@include d_flex(row, flex-start, center);
		flex: 1;
		height: 100%;
		background-color: $c_n_200;
		border-radius: $s_3;
		padding: $s_4;
		color: $c_a_text_contrast;

		.img-wrapper {
			@include d_flex(row, center, center);
			--max-height: 320px;
			object-fit: contain;
			width: 100%;
		}

		@include mq('md') {
			p {
				margin-block: $s_4;
			}
		}
	}

	&-recommended {
		--min-width: 360px;

		@include mq('md') {
			--min-width: 260px;
		}
	}

	&-bottom-cta {
		@include d_flex(row, space-between, center);
		position: fixed;
		inset: 0;
		top: unset;
		background-color: $c_bg_default;
		padding: $s_9 $s_8;
		border: $b_1;
		border-color: $c_p_dark;
		transition: transform 0.3s ease;
		transform: translateY(100%);
		z-index: 500;

		&[data-active='true'] {
			transform: translateY(0);
		}

		&-company {
			@include d_flex(row, flex-start, center, nowrap, false, $s_4);
			text-transform: capitalize;

			&-name {
				@include fs('h4');
				min-width: max-content;
			}

			&-origin {
				color: $c_t_main;
			}
		}

		@include mq('md') {
			padding: $s_4 $s_4;
			&-company {
				display: none;
			}

			.product-actions-primary {
				width: 100%;
			}
		}
	}
}

.swiper {
	&-product {
		&-main {
			img {
				width: 100%;
				object-fit: cover;
				border-radius: $s_2;
			}

			.swiper {
				position: relative;
				&-pagination {
					position: absolute;
					left: 50%;
					bottom: 0;
					z-index: 100;
					transform: translate(-50%, -$s_6);
					background-color: rgba($c_n_800, 0.5);
					color: $c_n_800;
					backdrop-filter: blur(12px);
					padding: $s_1 $s_6;
					border-radius: $s_3;
				}
			}

			@include mq('md') {
				img {
					max-height: 12.5rem;
				}
			}
		}

		&-thumbnails {
			img {
				width: 100%;
				object-fit: cover;
				height: 200px;
				border-radius: $s_2;

				@include mq('md') {
					max-height: 4rem;
				}
			}

			.swiper-slide {
				opacity: 0.3;
				cursor: pointer;
				transition: opacity 0.3s ease-in;

				&-thumb-active {
					opacity: 1;
				}
			}
		}
	}
}
