@use '../../utils/' as *;

.product {
	&-info {
		@include d_flex(row, space-between, center);
		background: $c_bg_paper;
		padding: $s_4 $s_6;
		border-radius: $s_3;
		box-shadow: 0px 4px 8px 0px hsla(0, 0%, 0%, 0.04);

		&-short {
			padding-inline-start: $s_4;
			color: $c_t_main;
		}
	}

	&-company {
		hr {
			margin-block: $s_4 $s_6;
		}

		&-logo {
			display: flex;
		}

		&-wrapper {
			@include d_flex(row, center, center, $gap: $s_4);

			> * {
				flex: 1;
			}

			.product-company-logo {
				@include d_flex(row, center, center);
				width: 100%;
				height: 100%;
			}
		}

		&-description {
			flex: 3;
		}
	}

	&-main-info {
		display: flex;
		justify-content: space-between;

		.product-info-short {
			padding: 0;
		}
	}

	&-title {
		&-wrapper {
			@include d_flex($gap: $s_3);
		}
	}

	&-primary-info {
		@include d_flex(column, $gap: $s_3);
	}

	&-details {
		display: grid;
		gap: $s_4;

		&-wrapper {
			@include d_flex($gap: $s_4);
		}
	}

	&-table {
		&-primary {
			@include d_flex(row, space-between, center, $even_column: true);
			width: 100%;
			border-radius: $s_3;
			padding: $s_4 $s_6;
			box-shadow: $shadow_1;
			text-transform: capitalize;
		}
		&-secondary {
			border: $b_1;
			border-radius: $s_4;
			flex: 1;

			&-row {
				@include d_flex(row, space-between, center, nowrap, true);
				text-transform: capitalize;

				&:nth-child(2n) {
					background-color: rgba($c_n_100, 0.04);
					color: $c_p_light;
				}

				> * {
					@include d_flex(row, flex-start, center);
					min-height: 4rem;
					padding: $s_3;
				}
			}

			&-value {
				width: 100%;
				height: 100%;
				border-inline-start: $b_1;
			}
		}
	}

	&-feature {
		&-box {
			padding-inline-start: $s_8;
			&:not(:first-child) {
				border-inline-start: $b_2;
			}
		}
		&-top {
			color: $c_t_light;
		}
		&-value {
			@include fs('h5');
		}
	}

	&-cta {
		@include d_flex(row, flex-start, center);
		width: 390px;
		height: 100%;
		background-color: $c_n_200;
		border-radius: $s_3;
		padding: $s_4;
		color: $c_a_text_contrast;

		.img-wrapper {
			@include d_flex(row, center, center);
			--max-height: 320px;
			object-fit: contain;
			width: 100%;
		}
	}

	&-recommended {
		--min-width: 360px;
	}
}

.swiper {
	&-product {
		&-main {
			img {
				width: 100%;
				object-fit: cover;
				border-radius: $s_2;
			}

			.swiper {
				position: relative;
				&-pagination {
					position: absolute;
					left: 50%;
					bottom: 0;
					z-index: 100;
					transform: translate(-50%, -$s_6);
					background-color: rgba($c_n_800, 0.5);
					color: $c_n_800;
					backdrop-filter: blur(12px);
					padding: $s_1 $s_6;
					border-radius: $s_3;
				}
			}
		}

		&-thumbnails {
			img {
				width: 100%;
				object-fit: cover;
				height: 200px;
				border-radius: $s_2;
			}

			.swiper-slide {
				opacity: 0.3;
				cursor: pointer;
				transition: opacity 0.3s ease-in;

				&-thumb-active {
					opacity: 1;
				}
			}
		}
	}
}
