@use '../../utils/' as *;

.product {
	&-info {
		@include d_flex(row, space-between, center);
		background: $c_bg_paper;
		padding: $s_4 $s_6;
		border-radius: $s_3;
		box-shadow: 0px 4px 8px 0px hsla(0, 0%, 0%, 0.04);

		&-short {
			padding-inline-start: $s_4;
			color: $c_t_main;
		}
	}

	&-company {
		&-logo {
			display: flex;
		}
	}

	&-main-info {
		display: flex;
		justify-content: space-between;

		.product-info-short {
			padding: 0;
		}
	}

	&-title {
		&-wrapper {
			@include d_flex($gap: $s_3);
		}
	}

	&-primary-info {
		@include d_flex(column, $gap: $s_3);
	}

	&-table {
		&-primary {
			@include d_flex(row, space-between, center, $even_column: true);
			width: 100%;
			border-radius: $s_3;
			padding: $s_4 $s_6;
			box-shadow: $shadow_1;
			text-transform: capitalize;
		}
	}

	&-feature {
		&-box {
			padding-inline-start: $s_8;
			&:not(:first-child) {
				border-inline-start: $b_2;
			}
		}
		&-top {
			color: $c_t_light;
		}
		&-value {
			@include fs('h5');
		}
	}
}

.swiper {
	&-product {
		&-main {
			img {
				width: 100%;
				object-fit: cover;
				border-radius: $s_2;
			}

			.swiper {
				position: relative;
				&-pagination {
					position: absolute;
					left: 50%;
					bottom: 0;
					z-index: 100;
					transform: translate(-50%, -$s_6);
					background-color: rgba($c_n_800, 0.5);
					color: $c_n_800;
					backdrop-filter: blur(12px);
					padding: $s_1 $s_6;
					border-radius: $s_3;
				}
			}
		}

		&-thumbnails {
			img {
				width: 100%;
				object-fit: cover;
				height: 200px;
				border-radius: $s_2;
			}

			.swiper-slide {
				opacity: 0.3;
				cursor: pointer;
				transition: opacity 0.3s ease-in;

				&-thumb-active {
					opacity: 1;
				}
			}
		}
	}
}
